@media (min-width: 768px) {

  /* hero description button */
  .hero-container .link {
    font-size: var(--p-desktop);
  }

  /* category */
  .categories-container .category {
    flex-direction: row;
  }


  /* product category */
  .product-category {
    width: 21vw;
    height: 21vw;
  }

  /* product category p */
  .product-category p {
    font-size: var(--p-desktop);
  }

  .footer-container .description {
    font-size: var(--p-desktop);
  }
}